:root {
  --clr-primary-1: #a37871;
  --clr-primary-2: #eee5e8;
  --clr-primary-3: #417b5a;
  --clr-primary-4: #adf5ff;
  --clr-primary-5: #8dc5cc;
  --clr-primary-6: #011627;
  --clr-primary-7: #000;
  --clr-primary-8: #e61f00;
  --clr-white: #fff;
  --clr-grey: #f8f7f7;
  --radius: 0.3rem;
  --spacing: 0.25rem;
  --transition: all 0.2s linear;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.heading {
  display: inline-block;
  position: absolute;
  box-sizing: border-box;
  top: 1rem;
  padding: 1rem;
  margin-bottom: 2rem;
}
ul h1 {
  color: var(--clr-primary-6);
  text-align: center;
  letter-spacing: var(--spacing);
  text-transform: uppercase;
}
h3 {
  text-transform: capitalize;
  text-align: center;
}
.btn {
  border: none;
}

/* 
=======
input
=======
*/
fieldset {
  margin: 2rem auto;
  padding: 2rem 2rem;
  border-radius: var(--radius);
  border: solid 2px var(--clr-primary-3);
  width: 70vw;
  max-width: 992px;
}
legend {
  padding: 0.25rem;
  color: #417b5a;
  text-transform: capitalize;
}
label {
  text-transform: capitalize;
  color: var(--clr-primary-3);
  display: block;
  margin-top: 1rem;
}

label:first-of-type {
  margin-top: 0;
}

input {
  padding: 1rem;
  border: solid 2px var(--clr-primary-3);
  border-radius: var(--radius);
  width: 70vw;
  margin: 1rem auto;
  text-align: center;
  color: var(--clr-primary-1);
}

.input i {
  position: absolute;
  color: var(--clr-primary-1);
  padding: 33px;
  /* min-width: 0px; */
}
.add-btn {
  padding: 1rem;
  width: 70vw;
  margin: 1rem auto;
  background: var(--clr-primary-4);
  color: var(--clr-primary-6);
  border-radius: var(--radius);
  text-transform: uppercase;
  letter-spacing: var(--spacing);
}
.btn.edit-btn {
  padding: 1rem;
  width: 70vw;
  margin: 1rem auto;
  background: var(--clr-primary-3);
  color: var(--clr-white);
  border-radius: var(--radius);
  text-transform: uppercase;
  letter-spacing: var(--spacing);
}
/* 
=======
list
=======
*/

.clear-btn {
  padding: 1rem;
  width: 70vw;
  margin: 1rem auto;
  background: var(--clr-primary-8);
  color: var(--clr-white);
  border-radius: var(--radius);
  text-transform: uppercase;
  letter-spacing: var(--spacing);
}
.single-item {
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  list-style-type: none;
  color: var(--clr-primary-3);
  border: solid 2px var(--clr-primary-3);
  border-radius: var(--radius);
  padding: 1rem;
  margin-bottom: 0.5rem;
}
.edit-icon {
  color: var(--clr-primary-3);
  padding-right: 0.5rem;
  cursor: pointer;
}
.delete-icon {
  color: var(--clr-primary-8);
  cursor: pointer;
}
i:hover {
  transform: scale(1.2);
  transition: var(--transition);
}
.btn:hover {
  box-shadow: 1px 1px 8px 1px var(--clr-primary-1);
  font-weight: bold;
  transition: var(--transition);
}
.clear-btn:hover {
  box-shadow: 1px 1px 8px 1px var(--clr-primary-1);
}
.add-btn:hover {
  box-shadow: 1px 1px 8px 1px var(--clr-primary-5);
}
@media screen and (min-width: 992px) {
  .app {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
